*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: fontOswald;
    src: url(oswald.ttf);
}

@font-face {
    font-family: fontOpen;
    src: url(open.ttf);
}

@font-face {
    font-family: menuHam;
    src: url(menu-icon.png);
}


/*header--------------------------------------------------------------------------------------------------*/

header{
    background-color: #DDDBD9;
    height: 100px;

}

.nav-1{
    padding: 20px 50px 20px;
}


header a{
    font-family: fontOswald;
    font-size: 40px;
    color: #332E29;
    font-weight: bold; 
    text-decoration: none;
}

/*body---------------------------------------------------------------------------------------------------*/

body{
    background-color: #E5E5E5;

}


/*section 1----------------------------------------------------------------------------------------------*/
.div-escrita{
    width: 570px;
    height: 373px;
    background-color: #FFFFFF;
    padding: 30px 39px;
    position: absolute;
    z-index: 3;
    margin-left: 80px;
    margin-top: 750px;
}

.div-h4-section1{
    font-size: 24px;
    font-family: fontOpen;
    font-weight: 400;
    padding-left: 20px;
}

.div-h1-section1{
    font-size: 60px;
    font-family: fontOswald;
    padding-left: 20px;
}

.div-h2-section1{
    font-size: 20px;
    font-weight: 400;
    font-family: fontOswald;
    padding-left: 20px;
    padding-bottom: 20px;
}

.div-a-section1{
    color: #000000;
}

.div-foto-section1{
    margin: 150px;
    position: relative;
    z-index: 2;
}

.div-branco-section1{
    background-color: #FFFFFF;
    width: 373px;
    height: 1108px;
    position: relative;
    z-index: 1;
    top:-1150px;
    right: -1120px;
}
/*section 2 ----------------------------------------------------------------------------------------------*/
.div-branco-section2{
    background-color: #FFFFFF;
    height: 445px;
    position: absolute;
    top: 1450px;
    width: 100%;
    z-index: 2;
}


.container-1-section2{
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1;
    display: flex;
    float: left;
}

.container-h2-section2{
    position: relative;
    z-index: 1;
    bottom: -130px;
    right: -100px;
}

.div-h2-section2{
    font-size: 58px;
    font-family: fontOswald;
}

.container-p-section2{
    position: relative;
    z-index: 1;
    bottom: -250px;
    right: 390px;
}

.div-p-section2{
    font-family: fontOpen;
    font-size: 20px;
}

.container-2-section2{
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;   
    display: flex;
    float: right;
}

.container-2-p-section2{
    position: relative;
    z-index: 1;
    bottom: -50px;
    right: -240px;
}

.div-2-p-section2{
   font-family: fontOpen;
   font-size: 25px;
}

.container-2-a-section2{
    position: relative;
    z-index: 1;
    bottom: -210px;
    right: 100px;
}


.div-2-a-section2{
    text-decoration: none;
    font-family: fontOpen;
    color: #FFFFFF;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    background-color: #000000;
    padding: -40px;
}

/*section 3----------------------------------------------------------------------------------------------*/

.div-branco-section3{
    background-color: #FFFFFF;
    height: 655px;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 1895px;
    border: 1px solid;
    
}

.container-1-foto1-section3{
    position: relative;
    z-index: 2;
    right: -80px;
    top: 100px;
}

.img-foto1-section3{
    border: 1px solid;
}

.container-2-foto2-section3{
    position: relative;
    z-index: 2;
    right: -550px;
    top: -55px;

}

.img-foto2-section3{
    border: 1px solid;  
}

.container-3-section3{
    position: relative;
    z-index: 2;
    right: -300px;
    right: -1050px;
    top: -700px;
}


.h3-container-3-section3{
    font-family: fontOswald;
    font-size: 35px;
    color: #332E29;
}

.p-container-3-section3{
    font-family: fontOpen;
    font-size: 20px;
    color: #111111;
}

.container-5-foto3-section3{
    position: relative;
    z-index: 2;
    right: 20px;
    top: 200px;
}

.img-foto3-section3{
    border: 1px solid;
}

.div-cinza-section3{
    background-color: #E5E5E5;
    border: 1px solid red;
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 1;
    top: 138px;

}

.container-4-section3{
    position: relative;
    z-index: 2;
    right: -80px;
    top: 200px;
}

.h3-container-4-section3{
    font-family: fontOswald;
    font-size: 35px;
    color: #332E29;
}

.p-container-4-section3{
    font-family: fontOpen;
    font-size: 20px;
    color: #111111;
}


/*section 4----------------------------------------------------------------------------------------------*/

.container-1-section4{
    background-color: #E5E5E5;
    height: 600px;
    width: 100%;
    top: 138px;
    position: relative;
    z-index: 1;
    border: 3px solid violet;
}

.div-h2-section4{
    position: relative;
    z-index: 2;
    top: 100px;
}

.h2-container-1-section4{
    font-family: fontOswald;
    font-size: 50px;
    text-align: center;
}

.div-p-section4{
    position: relative;
    z-index: 2;
    top: 170px;
}

.p-container-1-section4{
    font-family: fontOpen;
    font-size: 20px;
    text-align: center;
    color: #111111;
}

.div-a-container-1-section4{
    position: relative;
    z-index: 2;
    right: -695px;
    top: 230px;
}

.a-container-1-section4{
    font-family: fontOpen;
    font-size: 20px;
    border: 1px solid;
    text-decoration: none;
    padding: 10px 20px;
    color: #000000;
    font-weight: 700;
}

/*section 5----------------------------------------------------------------------------------------------*/

.container-1-section5{
    position: relative;
    z-index: 1;
    background-color: #E5E5E5;
    border: 2px solid blue;
    height: 780px;
    width: 100%;
    top: 138px;
}

.container-1-foto1-section5{
    position: absolute;
    z-index: 2;
    border: 1px solid #000000;
    top: 90px;
    right: 805px;

}

.container-2-branco-section5{
    background-color: #FFFFFF;
    height: 300px;
    width: 450px;
    border: 1px solid #000000;
    position: relative;
    z-index: 2;
    right: -762px;
    top: 90px;
}

.container-3-branco-section5{
    background-color: #FFFFFF;
    height: 306px;
    width: 450px;
    border: 1px solid #000000;
    position: relative;
    z-index: 2;
    right: -762px;
    top: 90px;
}

.div-icon1-section5{
    position: relative;
    z-index: 2;
    right: -340px;
    top: 20px;
}

.div-h3-1-section5{
    position: relative;
    z-index: 2;
    right: -195px;
    top: 40px;
}

.h3-1-section5{
    font-family: fontOswald;
    font-size: 30px;
    color: #332E29;
}

.div-p-1-section5{
    position: relative;
    z-index: 2;
    top: 40px;
    right: -75px;
}

.p-1-section5{
    font-family: fontOpen;
    font-size: 15px;
    color: #111111;
}

.div-icon2-section5{
    position: relative;
    z-index: 2;
    right: -40px;
    top: 20px;
}

.div-h3-2-section5{
    position: relative;
    z-index: 2;
    right: -45px;
    top: 40px;
}

.h3-2-section5{
    font-family: fontOswald;
    font-size: 30px;
    color: #332E29;
}

.div-p-2-section5{
    position: relative;
    z-index: 2;
    right: -45px;
    top: 40px;
}

.p-2-section5{
    font-family: fontOpen;
    font-size: 15px;
    color: #111111;
}

/*section 6----------------------------------------------------------------------------------------------*/

.container-cinza-section6{
    position: relative;
    z-index: 1;
    top: 138px;
    width: 100%;
    height: 306px;
    background-color: #E5E5E5;
    border: 2px solid peru;
}

.container-cinza-h2-section6{
    position: relative;
    z-index: 2;
    right: -250px;
    top: 100px;
}

.h2-section6{
    font-family: fontOswald;
    font-size: 48px;
}

.container-cinza-p-section6{
    position: relative;
    z-index: 2;
    right: -250px;
    top: 100px;
}

.p-section6{
    font-family: fontOpen;
    font-size: 20px;
    color: #111111;
}

.container-cinza-a-section6{
    position: relative;
    z-index: 2;
    right: -250px;
    top: 80px;
}

.a-section6{
    font-family: fontOpen;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 10px 20px;
    color: #000000;
}

.container-branco-section6{
    position: relative;
    z-index: 1;
    top: 138px;
    height: 800px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid aqua;
}

.container-branco-foto1-section6{
    position: relative;
    z-index: 3;
    top: 200px;
    right: -250px;
}

.container-branco-foto2-section6{
    position: relative;
    z-index: 3;
    right: -700px;
    top: -210px;
}

.container-cinza-2-section6{
    position: relative;
    z-index: 2;
    top: -510px;
    right: -550px;
    background-color: #E5E5E5;
    border: 1px solid gold;
    height: 356px;
    width: 670px;
}

/*section 7----------------------------------------------------------------------------------------------*/

.container-cinza-section7{
    background-color: #E5E5E5;
    border: 2px solid firebrick;
    top: 138px;
    height: 1800px;
    position: relative;
    width: 100%;
}

.container-1-foto-1-section7{
    position: relative;
    top: 300px;
    right: -100px;
    z-index: 1;
}

.foto-1-section7{
    border: 1px solid #000000;
}

.container-2-escrita-section7{
    background-color: #FFFFFF;
    height: 400px;
    width: 730px;
    right: -430px;
    position: relative;
    z-index: 2;
    top: -450px;
}

.div-escrita-section7{
    position: relative;
    right: -50px;
    top: 50px;
}

.h2-section7{
    font-family: fontOswald;
    font-size: 48px;
}

.p-1-section7{
    font-family: fontOpen;
    font-size: 18px;
    color: #111111;
}

.a-section7{
    font-family: fontOpen;
    font-size: 18px;
    color: #111111;
}

.p-2-section7{
    font-family: fontOpen;
    font-size: 20px;
    color: #111111;
}

.a-2-section7{
    font-family: fontOpen;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    border: 1px solid;
    padding: 10px 20px;
}

.container-3-foto-2-section7{
    position: relative;
    right: -630px;
    z-index: 1;
    top: -520px;
}

.foto-2-section7{
    border: 1px solid #000000;
}

.container-4-foto-3-section7{
    position: relative;
    right: -400px;
    top: -630px;
    z-index: 2;
}

.foto-3-section7{
    border: 10px solid #FFFFFF;
}

.container-5-foto-4-section7{
    position: relative;
    right: -968px;
    z-index: 1;
    top: -830px;
}

.foto-4-section7{
    border: 1px solid #000000;
}

.container-6-p-2-section7{
    position: relative;
    background-color: #E5E5E5;
    z-index: 1;
    top: -1050px;
    height: 140px;
    right: -140px;
    width: 600px;
}

.p-3-section7{
    font-family: fontOpen;
    color: #111111;
    font-size: 20px;
}

/*section 8----------------------------------------------------------------------------------------------*/

 .container-branco-section8{
    width: 100%;
    height: 1350px;
    position: relative;
    border: 1px solid chartreuse;
    top: 138px;
    background-color: #FFFFFF;
 }

 .container-escrita-section8{
    position: relative;
    width: 100%;
    top: 90px;
 }

 .h2-container-escrita-section8{
    font-family: fontOswald;
    font-size: 50px;
    color: #000000;
    text-align: center;
 }

 .p-container-escrita-section8{
    font-family: fontOpen;
    font-size: 20px;
    color: #111111;
    text-align: center;
 }

 .container-foto1-section8{
    position: relative;
    right: -470px;
    top: 110px;
 }

 .foto1-section8{
    border: 1px solid #000000;
 }

 .container-foto2-section8{
    position: relative;
    right: -800px;
    top: -140px;
 }

 .foto2-section8{
    border: 1px solid #000000;
 }

 .container-foto3-section8{
    position: relative;
    top: -460px;
    right: -180px;
 }

 .foto-3-section8{
    border: 1px solid #000000;
 }

 .container-foto4-section8{
    position: relative;
    right: -800px;
    top: -779px;
 }

 .foto-4-section8{
    border: 1px solid #000000;
 }

 /*section 9----------------------------------------------------------------------------------------------*/

 .container-branco-section9{
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    height: 1000px;
    border: 2px solid orangered;
    top: 138px;
    z-index: 2;
 }

 .container-escrita-section9{
    position: relative;
    width: 500px;
    height: 600px;
    border: 1px solid black;
    top: 100px;
    right: -300px;
 }

 .h2-section9{
    font-family: fontOswald;
    font-size: 48px;
    background-color: #E5E5E5;

 }

 .p-section9{
    font-family: fontOpen;
    font-size: 16px;
    color: #111111;
 }

 input[type=submit] {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: fontOpen;
  }

  input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #E5E5E5;
    font-family: fontOpen;
  }

  .container-cinza-section9{
    position: relative;
    z-index: 1;
    width: 800px;
    height: 200px;
    background-color: #E5E5E5;
    border: 1px solid black;
    top: -600px;
    right: -768px;
  }

  .container-cinza-2-section9{
    position: relative;
    z-index: 1;
    width: 440px;
    height: 480px;
    background-color: #E5E5E5;
    border: 1px solid black;
    right: -1000px;
    top: -500px;
  }

 .container-map-section9{
    position: relative;
    right: -900px;
    top: -1180px;
    z-index: 3;
 }